In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

import numpy as np
# Configure gmaps
gmaps.configure(api_key=g_key)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Wewak,PG,82.18,broken clouds,-3.5534,143.6268,In Wewak Boutique Hotel
1,3,Vaini,TO,81.32,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
2,4,Saint George,US,85.42,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
3,7,Avarua,CK,82.45,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,11,Kapaa,US,78.78,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""



# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=="San Patricio")]
vacation_end = vacation_df.loc[(vacation_df['City']=="San Patricio")]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=="Hays")]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=="Abilene")] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=="Saint George")]

In [33]:
# Using to_numpy function to find lats and lngs of cities
vacation_start[['Lat', 'Lng']].to_numpy()
vacation_end[['Lat', 'Lng']].to_numpy()
vacation_stop1[['Lat', 'Lng']].to_numpy()
vacation_stop2[['Lat', 'Lng']].to_numpy()
vacation_stop3[['Lat', 'Lng']].to_numpy()

array([[  37.1041, -113.5841]])

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (28.017,-97.5169)
end = (28.017,-97.5169)
stop1 = (30.0502,-98.0336)
stop2 = (32.4487, -99.7331)
stop3 = (37.1041, -113.5841)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()

directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,167,San Patricio,US,87.19,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,167,San Patricio,US,87.19,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,552,Hays,US,87.94,broken clouds,30.0502,-98.0336,Sinya on Lone Man Creek
3,652,Abilene,US,86.77,clear sky,32.4487,-99.7331,La Quinta Inn by Wyndham Abilene
4,4,Saint George,US,85.42,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""



# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))